* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Decorado seccion inicio*/
body{
  margin: 0;
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
  background-color: rgb(233, 235, 235);
}

header nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 144, 53);
  padding: 15px;
  position: relative;
  margin: 0;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.logoHeader{
  justify-content: flex-start;
}
header div a img{
  width: 50px;
}

.secciones {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.secciones li{
  border: 1px solid rgb(221, 124, 13);
  border-radius: 20px;
}
.secciones li:hover{
  background:rgb(241, 165, 79);
  box-shadow: 0 10px 20px black;
}
.secciones li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav ul li {
  display: inline;
  align-items: center;
  margin: 10px;
  font-size: medium;
}
nav a:hover{
  color: white;
}
/* Menú hamburguesa */
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

h1 {
  padding: 50px;
  text-align: center;
   font-size: x-large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .nosotros h1{
  font-size: x-large;
 }
 .productos{
  font-size: x-large;
 }
.description{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: large;
}
.logo{
  display: flex;
  justify-content: center;
  height: 350px;
}
/*manin nosotros*/

.presentacion{
  display: flex;
  font-size: large;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}
.localidad{
  display: flex;
  font-size: large;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}
/*decorado footer*/

footer{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: rgb(255, 144, 53);
  padding: 15px;
  align-items: center;
  position: absolute;
  bottom: 0;
}

footer ul li{
  display: inline-block;
}
footer a:hover{
  color: white;
}
ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px;
}

.redes{
  margin-top: 12px;
  align-items: center;
}

/*decorado de seccion contacto*/

.containerForm{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.containerForm h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: x-large;
  margin-bottom: 15px;
}
.containerForm p{
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  font-size: 17px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-align: center;
}
.containerForm a{
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-right: auto;
  width: 100%;
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.containerForm a i{
  color: rgb(255, 144, 53);
  margin-right: 10px;
}
.containerForm form .campo{
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #ff9e29;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: 0px;
}
.containerForm form textarea{
  width: 100%;
  border: 1px solid #ff9e29;
  border-radius: 5px;
  margin-bottom: 20px;
  min-height: 110px;
  max-height: 120px;
}
.containerForm .btn-enviar{
  display: flex;
  padding: 15px;
  margin-left: 41px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: rgb(243, 234, 234);
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.containerForm .btn-enviar:hover{
  background: #e39403;
}
/* seccion de productos */
.catalogo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.item{
  border-radius: 10px;
}
.item:hover{
  box-shadow: 0 10px 20px black;
}
.info-product{
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  direction: column;
  gap: 10px;
}
.item img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all .5s;
}
.item figure{
  overflow: hidden;
}
.item:hover img{
  transform: scale(1.2);
}

@media (min-width: 368px) and (max-width: 720px){

  body {
    height: auto;
    width: 100%;
    margin: 0;
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
  }

  .menu-toggle {
    display: block;
  }

  #nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgb(255, 144, 53);
    text-align: center;
  }

  #nav.active {
    display: block;
    height: auto;
  }
  header {
  width: 100%;
  height: auto; /* Permite que el header se ajuste automáticamente */
  background-color: rgb(255, 144, 53);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0; /* Espaciado para mejorar apariencia */
  }

  .logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
  .secciones {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  }

  .secciones li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid rgb(221, 124, 13);
    border-radius: 30px;
  }

  /* decorado main*/

  h1 {
   padding: 50px;
   text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  } 
  .productos{
    padding: 50px;
    text-align: center;
     font-size: large;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .description{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: medium;
  }
  .logo{
    display: flex;
    justify-content: center;
    height: 350px;
  }
  /*manin nosotros*/
  .nosotros h1{
  font-size: large;
  }
  .presentacion{
  display: flex;
  font-size: medium;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 15px;
  }
  .localidad{
  display: flex;
  font-size: medium;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  margin: 0;
  }
  /*decorado de seccion contacto*/

  .containerForm{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  margin-top: 25px;
  grid-gap: 0px;
  padding: 10px;
  }
  .infoForm{
  grid-column: 2/3;
  grid-row: 1/2;
  }
  .relleno{
  grid-row:2/3 ;
  grid-column: 2/3;
  }

  /*catalogo*/
  .catalogo{
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 8px;
  justify-content: center;
  padding: 20px;
  }
}